<div  class="container   col-lg-7 mt-5 " [ngClass]="mydec">
  <div class="row ">
    <div class="card phone m-3" *ngFor="let pro of prod; index as i" style="width: 18rem;">


      <img [src]="pro.avatar[pro.poster]" class="card-img-top" alt="..." height="400">
      <div class="card-body">

        <h2 class="card-title">{{pro.title}}</h2>
        <p class="card-weight" *ngFor="let weight of pro.kg">{{weight}}</p>

        <div class="sale" *ngIf="pro.sale == null">
          <p class="card-sale  rounded hov" style="width: 90px; ">{{'📢 '+ ' sale ' + (pro.disc) + '%'}}</p>
        </div>
        <div class="gift" *ngIf="pro.gift">
          <p class="card-gift hov  d-inline-block">{{'🎁'}}</p>
        </div>
        <div *ngIf="pro.sale == null;else discpricee ">
          
          <del  class="card-price  mb-1 rounded d-inline-block  ">{{'ძველი ფასი ' + pro.price + '₾'}} </del>
          <p class="card-price d-inline-block rounded bold ">{{'დანაზოგი ' + (DisPrice(pro.price, pro.disc)) +
            '₾'}} </p>
            <br>
          <p class="card-price d-inline-block rounded bold ">{{'ფასი ' + (pro.price - DisPrice(pro.price, pro.disc)) +
            '₾'}} </p>

        </div>
        <ng-template #discpricee>
          <p class="card-price bold   rounded "> ფასი{{pro.price}} ₾ </p>
        </ng-template>

        <div class="images zoom d-inline-block mb-5" [ngClass]="s == pro.poster ? 'active' : ''"
          *ngFor="let images of pro.avatar;index as s">
          <img class="m-2 " [src]="images" alt="" height="60" width="60" (click)="changePoster(i,s)">
        </div>
        <br>
        <a href="#" value="" type="button" class="btn btn-primary position-absolute bot mt-5">ყიდვა</a>
      </div>
    </div>
    <form action="" [formGroup]="FormReg" >
      <input value=""formControlName="firstName" required="" type="text">
      <input value=""formControlName="Email" required type="email">
      <input value=""formControlName="body"  type="text">
   
  
      <button  type="submit" class="mt-1 btn btn-danger" [disabled]="FormReg.status == 'INVALID'" (click)="getDate()">გაგზავნა</button>
    </form>


